@import '../../shared/style/layout/mediaQuery';
@import '../../shared/style/base/colors';
@import '../../shared/style/base/appDimensions';

.sign-up {

    & > .default-page-container {
        max-width: 600px;

        @include bp-medium {
            max-width: 400px;
        }
    }

    &__input {
        padding: 12px 6px;
        border: 1px solid $gray3;
        border-radius: $cornerRadius;

        &:focus {
            border-color: $green1;
        }
    }

    &__password-container {
        @include bp-small {
            flex-direction: column;

            & > section.width-50 {
                width: 100%;
                margin: 0;

                &.mr-5 {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__button {
        height: 50px;
        min-width: 110px;
        background-color: $orange1;

        @include bp-small {
            width: 100%;
        }
    }
}
