// Box shadow
$boxShadowLowDefault: 2px 2px 4px #aaa;
$boxShadowMediumDefault: 3px 3px 6px #aaa;
$boxShadowHighDefault: 5px 5px 10px #aaa;
$boxShadowActive: 1px 1px 3px #aaa;

// Corner radius
$cornerRadius: 5px;
