// Z-index
$zIndexDefault: 1;
$zIndexModalOverlay: 900;
$zIndexModal: 901;

// Box shadow
$boxShadowLowDefault: 2px 2px 4px #aaa;
$boxShadowMediumDefault: 3px 3px 6px #aaa;
$boxShadowHighDefault: 5px 5px 10px #aaa;
$boxShadowActive: 1px 1px 3px #aaa;

// Corner radius
$cornerRadius: 5px;

// Header
$headerHeight: 70px;
$headerHeightMobile: 50px;
$headerBoxShadow: 0px 2px 3px #aaa;

// Modal
$modalBoxShadow: 2px 2px 3px #777;
$modalPadding: 30px 20px;
$modalOverlayBackground: rgba(0, 0, 0, 0.3);
