$defaultFontColor: unquote($string: "#777");

// *******************************************************
//      Color pallete
// *******************************************************

// Blue
$blue1: unquote($string: "#3590CE");
$blue2: unquote($string: "#13679F");

// Gray
$gray1: unquote($string: "#F8F8F8");
$gray2: unquote($string: "#E9E9E9");
$gray3: unquote($string: "#D4D5D4");
$gray4: unquote($string: "#ACACAC");
$gray5: unquote($string: "#808180");

// Green
$green1: unquote($string: "#D0DD37");
$green2: unquote($string: "#82C043");

// Orange
$orange1: unquote($string: "#F37726");
$orange2: unquote($string: "#ED4F23");

// White
$white: unquote($string: "#FFFFFF");
