@import '../base/appDimensions';
@import '../base/colors';
@import '../layout/mediaQuery';

// Root
#root {
    height: 100%;
    background-color: $gray1;
}

button {
    box-shadow: $boxShadowMediumDefault;
    border-radius: $cornerRadius;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1.2rem;
    outline: none;

    @include bp-small {
        font-size: 1.15rem;
        padding: 1rem;
    }
}

button:active {
	box-shadow: $boxShadowActive;
}

// Button for touch screens
button.active-touch {
    box-shadow: $boxShadowActive;
}

// HR
hr {
    border: 0;
    border-top: 1px solid $gray3;
    margin-top: 10px;
    margin-bottom: 10px;
}

// Notification
.toast-notification {
    &__sucesss {
        background-color: rgba(16, 145, 235, 0.75);
    }

    &__error {
        background-color: rgba(223, 35, 35, 0.75);
    }

    &__info {
        background-color: rgba(254, 194, 40, 0.75)
    }
}
