@import '../../../style/base/colors';
@import '../../../style/base/appDimensions';

.password-input {
    border-radius: $cornerRadius;

    & > input {
        flex: 1;
        border-top-left-radius: $cornerRadius;
        border-bottom-left-radius: $cornerRadius;
        margin: 0;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            box-shadow: 0 0 0 30px $white inset !important;
        }
    }

    &__icon-container {
        padding: 0 8px;
        background-color: $white;
        border-top-right-radius: $cornerRadius;
        border-bottom-right-radius: $cornerRadius;
    }

    &__icon {
        width: 22px;
    }
};
