@import '../../../style/base/colors';

.password-input {
    & > input {
        flex: 1;
        margin: 0;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            box-shadow: 0 0 0 30px $white inset !important;
        }
    }

    &__icon-container {
        padding: 0 8px;
        background-color: $white;
    }

    &__icon {
        width: 22px;
    }
};
