@import '../../shared/style/layout/mediaQuery';
@import '../../shared/style/base/colors';
@import '../../shared/style/base/appDimensions';

.login {

    &__container {
        max-width: 400px;
        background-color: $white;
        box-shadow: $boxShadowLowDefault;
        padding: 35px 25px;

        @include bp-medium {
            width: 95%;
        }

        & input {
            padding: 10px 0;
            border-bottom: 1px solid $gray3;
        }
    }

    &__button {
        background-color: $orange1;
        min-width: 110px;

        @include bp-small {
            width: 100%;
        }
    }
}
