@import '../../shared/style/layout/mediaQuery';
@import '../../shared/style/base/colors';
@import '../../shared/style/base/appDimensions';

.login {

    &__container {
        max-width: 400px;
        background-color: $white;
        box-shadow: $boxShadowLowDefault;
        padding: 35px 25px;

        @include bp-medium {
            width: 95%;
        }
    }

    &__input {
        padding: 10px 0;
        border-bottom: 1px solid $gray3;
        
        &:focus {
            border-color: $green1;
        }
    }

    &__button {
        height: 50px;
        min-width: 110px;
        background-color: $orange1;

        @include bp-small {
            width: 100%;
        }
    }
}
