@import '../../style/base/appDimensions';
@import '../../style/base/colors';
@import '../../style/layout/mediaQuery';

.authenticated-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $headerHeight;
    box-shadow: $headerBoxShadow;
    background-color: $gray2;

    @include bp-medium {
        height: $headerHeightMobile;
    }

    &__logo {
        height: 30px;
    }
}
